google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-generativeai
flask
gunicorn
python-dotenv
beautifulsoup4
feedparser
requests
rapidfuzz
googlenewsdecoder
google-cloud-secret-manager>=2.16.0
google-cloud-storage>=2.10.0

